@import url("https://fonts.googleapis.com/css?family=Raleway:200");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css");

/* Reset */
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body,
input {
  font-family: 'Raleway', sans-serif;
  background: #1abc9c;
}
a {
  text-decoration: none;
  color: #222;
}
a:hover {
  color: #111;
}
a:focus {
  outline: none;
}
input {
  display: block;
  width: 335px;
  font-size: 34px;
  line-height: 44px;
  background: transparent;
  border: none;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
  padding: 5px 0;
  border-radius: 0;
}
input:focus {
  border-bottom-color: #000;
  outline: none;
}
small {
  margin-bottom: 15px;
}

/* Color override */
.light {
  color: #222!important;
}
.light input {
  color: #222!important;
  border-bottom-color: rgba(0, 0, 0, 0.4);
}
.light small, .light h3, .light a, .light span {
  color: #222!important;
}
.light input:focus {
  border-bottom-color: #000;
}
.dark .c {
  color: #fff;
}
.dark .c:hover {
  color: #ccc;
}
.dark input {
  color: #fff!important;
  border-bottom-color: rgba(255, 255, 255, 0.4);
}
.dark small, .dark h3, .dark a, .dark span {
  color: #fff!important;
}
.dark input:focus {
  border-bottom-color: #fff;
}
.dark .btn {
  color: #fff;
  border-color: #fff;
}
.dark .btn:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.dark svg {
  fill: #fff;
}
.dark ::-webkit-input-placeholder {
  color: #fff!important;
}
.dark :-moz-placeholder {
  color: #fff!important;
}
.dark ::-moz-placeholder {
  color: #fff!important;
}
.dark :-ms-input-placeholder {
  color: #fff!important;
}
::-webkit-input-placeholder {
  color: #222;
}
:-moz-placeholder {
  color: #222;
}
::-moz-placeholder {
  color: #222;
}
:-ms-input-placeholder {
  color: #222;
}

/* Override facebook */
.td{
  width: 100% !important;
}
/* Optimization */
@media only screen and (max-width: 400px) {
  input {
    width: 280px;
    font-size: 28px;
    line-height: 40px;
  }
}